.test {
    border: 1px solid;
    padding: auto;
    box-shadow: 5px 10px red;
    width: auto;
}

.table2,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
    width: 50%;
}

.textRed {
    color: red;
}